{% extends "layout.twig" %}
{% block content %}
    {% for blogPosts in blogPosts %}
        <div class= "blog-post">
            <a href="{{'' | url }}">Back</a>
            <h2 >{{ blogPosts.title }}</h2>
            <p>Apr 20, 2018 <a href="">Alex</a></p>

            {% if blogPosts.img_url %}
                <div class="blog-post-image">
                    <img src="{{blogPosts.img_url}}">
                </div>
            {% endif %}
            <div class="blog-post-content">
                {{ blogPosts.content }}
            </div>
        </div>
    {% endfor %}
{% endblock %}